.timeline {
    border-left: 2px solid #000000;
    position: relative;
    list-style: none;
  }
  
  .timeline .timeline-item {
    position: relative;
  }
  
  .timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline .timeline-item:after {
    background-color: #ffffff;
    left: -3px;
    margin: 4px 0 0 0;
    border: 2px solid black;
    border-radius:0 50% 50% 0;
    height: 17px;
    width: 17px;
    content: "";
  }

  .timebox{
    background-color: rgba(255, 255, 255, 0.4);
  }
