#navbar{
    background-color: #00000066;
    backdrop-filter: blur(5px) !important;
}


.dash-btn{
    display: block ;
}

#exit{
    border-radius: 3px;
    background: #4408089c !important;
    border: 1.5px solid #ff0000;
    color: #ff0000 !important;
}

#exit:hover{
    background: #ff0000 !important;
    border: 1.5px solid #ffffff;
}

#exit:hover i,
#exit:hover b{
    color: white !important;
}


.dropdown-toggle::after {
    display: none !important;
}

.username{
    cursor: default;
}
.username1{
    display: none;
}

.avatar{
    height: 38px;
    width: 38px;
    color: black;
    border:1.5px solid black;
}

@media (min-width :992px) {
    #navbar{
        margin-top: 3px;
        margin-left: var(--offcanvas-width) !important;
        margin-right: 2px;
        border-radius: 0px 10px 10px 0px;
    }
    .dash-btn{
        display: none;
    }
    .username1{
        display: inline-block;
    }

    
}
