#navbar{
    background-color: #00000066;
    backdrop-filter: blur(5px) !important;
}


.dash-btn{
    display: block ;
}

#exit{
    text-align: center;
    border-radius: 3px;
    width: -webkit-fill-available;
    color: #000000 !important;
}

#exit:hover{
    background: #ff00009c !important;
    transition: all 0.4s !important;
}

#exit:hover i{
    color: white !important;
    transition: all 0.4s !important;
}
#exit:hover b{
    color: white !important;
    transition: all 0.4s !important;
}


.dropdown-toggle::after {
    display: none !important;
}

.username{
    cursor: default;
}
.username1{
    display: none;
}

.avatar{
    height: 38px;
    width: 38px;
    color: black;
    border:2px solid black;
}

@media (min-width :992px) {
    #navbar{
        margin-top: 3px;
        margin-left: var(--offcanvas-width) !important;
        margin-right: 2px;
        border-radius: 0px 10px 10px 0px;
    }
    .dash-btn{
        display: none;
    }
    .username1{
        display: inline-block;
    }

    
}