@import "bootstrap/dist/css/bootstrap.min.css";
@import "./components//Header/NavBar/Navbar.css";
@import "./components/Header/OffCanvas/Offcanvas.css";
@import './components/Footer/Footer.css';
@import "./components/Main/StudentComponent/CourseIndex/timeline.css";
/* ================================common body and sidenav================================= */

:root{
    --offcanvas-width:250px;
    --offcanvas-height:56px;
}

body{
    overflow: overlay;
    background: url('./image/background.jpg');
    background-color: #afcf7d;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}
body::-webkit-scrollbar{
    display: none;
}
/* =================================Dashboard Layout Div ==================================== */
.maincontent{
    margin-top:70px;
}
.rootdiv{
    background: #00000033;
    border-radius: 10px;
}
.controlBoard{
    background: #00000066;
    backdrop-filter: blur(3px);
    margin: 0 10px;
    border-radius: 10px;
    border:1px solid #00000088;
    box-shadow: 10px 10px 30px #00000022;
}

#LoginForm{
    color: white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    background: #000000aa;
    box-shadow: 5px 5px 20px #00000078;
}
.form-check-label{
    cursor: pointer;
    user-select: none;
    box-shadow: none;
}
.form-check-input{
    border: 1px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;
    user-select: none;
    box-shadow: none;
}
.form-check-input:focus {
    border-color:none !important;
    box-shadow:none !important;
}

/* ====================z=============All Student Datastyle=================================== */


.box{
    background: #ffffff;
    border-radius: 20px;
    border:1px solid black;
    margin: 0px 2px;
}
.accordion{
    border:1px solid black !important;
    border-radius: 7px;
}
.data_number{
    font-size: xx-large;
}

.formsize{
    max-width: 450px;
}

.RegisterBox{
    color: white;
    background: #0000007a;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}
/* ====================================Login Page Icon========================================== */
.icon{
    height: 98px !important;
    width: 98px !important;
    color: #296045;
    padding: 12px;
    background: linear-gradient(to left, #c5e88c, #2a6347);
    border-radius: 50%;
    text-align: center;
    font-size: xxx-large;
    backdrop-filter: blur(5px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: roll 3s infinite linear;
}

.icon::after{
    content: '';
    position: absolute;
    height: 94px !important;
    width: 94px !important;
    background: white;
    border-radius: 50%;
    z-index: -2;
}

/* ===============================common body and sidenav=================================== */

@media (min-width :992px) {

    .maincontent{
        margin-top:70px ;
        margin-left:var(--offcanvas-width) !important;
    }
    .controlBoard{
        background: #00000044;
        border-radius: 10px;
        backdrop-filter: blur(3px);
    }

}
