.sidebar-nav{
    background-color: #00000066 !important;
    width: var(--offcanvas-width) !important;
    backdrop-filter: 10px;
    backdrop-filter: blur(5px);
    border-radius: 1px solid white !important;
}

.offcanvas-backdrop .show{
    opacity:none !important;
}

.accountInfo{
    overflow: overlay;
    cursor: default;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #00000054;
}
.accountInfo:hover{
    background-color: #000000bd;
}
.accountInfo::-webkit-scrollbar{
    display: none;
}
.type{
    cursor: default;
    position: relative;
    top: -8px;
}


#tab{
    margin:5px 0;
}
#tab:hover{
    background-color: #000000;
    color: white;
    transition: all 1s;
}
.nav-pills .nav-link.active{
    background-color: #000000 !important;
    color: white !important;
}



@media (min-width :992px) {

    
    .sidebar-nav{
        transform: none !important;
        visibility: visible !important;
        margin-top: 3px;
        margin-right: -2px;
        margin-left: 2px;
        width: 250px;
        border: 0;
        border-radius: 10px 0 0 10px;

    }
    .main_content{
        margin:70px var(--offcanvas-width) !important;
    }

}